APP_NAME=WaterATM Backend

ENVIRONMENT=development

SECRET_KEY=change-me

HOST=0.0.0.0
PORT=8000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=wateratm
DATABASE_USER=wateratm
DATABASE_PASSWORD=password

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
WEBHOOK_SECRET=